<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>planet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,484},{490,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,493}}</string>
                <key>sourceSize</key>
                <string>{490,493}</string>
            </dict>
            <key>planet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{490,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,482}}</string>
                <key>sourceSize</key>
                <string>{490,482}</string>
            </dict>
            <key>planet_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{488,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,480}}</string>
                <key>sourceSize</key>
                <string>{488,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mockup.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:650746977570e43263696494176335bb$</string>
            <key>textureFileName</key>
            <string>mockup.png</string>
        </dict>
    </dict>
</plist>
